// 通用
.title {
	text-align: center;
	color: #006EC6;
	font-size: 22px;
	margin-bottom: 15px;
}
.box {
	display: -webkit-flex;
	display: flex;
	font-size: 14px;
	&:nth-child(2n) {
		background: #F9F9F9;
	}
	.item0 {
		flex-flow: row nowrap;
		flex-grow: 0;
		font-size: 13px;
		padding: 11px 10px;
		min-width: 46px;
		margin: 0;
		text-align: center;
	}
	.item1 {
		flex-flow: row nowrap;
		flex-grow: 1;
		font-size: 13px;
		padding: 11px 10px;
		text-align: center;
	}
}
// 用户信息
.user_info {
	height: 234px;
	background: url('/src/images/user_info_bg.png') no-repeat;
	background-size: 100% 100%;
	padding-top: 30px;
	.user_info_content {
		width: 1120px;
		display: block;
		margin: 0 auto;
		vertical-align: middle;
		font-size: 16px;
		color: #fff;
		p {
			margin-bottom: 25px;
			padding-left: 100px;
		}
	}
}

// 进度条
.assess_container	{
	width: 1120px;
	margin: 24px auto 100px;
	min-height: 840px;
	background: #fff;
	border: 1px solid #F2F2F2;
	.steps {
		width: 840px;
		margin: 32px auto 30px;
		:global(.ant-steps-title) {
			font-size: 16px !important;
		}
	}
}

// 步骤1：提交审核表
.assess_one {
	padding: 24px;
	.print_container {
		text-align: center;
		.print {
			background-color: #EFEFEF;
			height: 580px;
		}	
	}
	.form_container {
		.button_div {
			text-align: center;
		}
	}
}

// 步骤2：在线考核评分
.assess_two {
	width: 900px;
	margin: 30px auto 0;
	.info {
		margin: 0px 15px;
		font-size: 16px;
		span {
			color: #006EC6;
		}
	}
	.table_div {
		border: 1px solid #E6E6E6;
		a {
			color: #F56C23;
		}
	}
}

// 步骤2：考核结果统计