// 通用
.title {
	text-align: center;
	color: #006EC6;
	font-size: 22px;
	margin-bottom: 15px;
}
.box {
	display: -webkit-flex;
	display: flex;
	font-size: 14px;
	&:nth-child(2n) {
		background: #F9F9F9;
	}
	.item0 {
		flex-flow: row nowrap;
		flex-grow: 0;
		font-size: 13px;
		padding: 11px 10px;
		min-width: 46px;
		margin: 0;
		text-align: center;
		span {
			color: red;
		}
	}
	.item1 {
		flex-flow: row nowrap;
		flex-grow: 1;
		font-size: 13px;
		padding: 11px 10px;
		text-align: center;
	}
}

// 用户信息
.user_info {
	height: 234px;
	background: url('/src/images/user_info_bg.png') no-repeat;
	background-size: 100% 100%;
	padding-top: 30px;
	.user_info_content {
		width: 1120px;
		display: block;
		margin: 0 auto;
		vertical-align: middle;
		font-size: 16px;
		color: #fff;
		p {
			margin-bottom: 25px;
			padding-left: 100px;
		}
	}
}

// 进度条
.assess_container	{
	width: 1120px;
	margin: 24px auto 100px;
	min-height: 540px;
	background: #fff;
	border: 1px solid #F2F2F2;
	.steps {
		width: 840px;
		margin: 32px auto 30px;
		:global(.ant-steps-title) {
			font-size: 16px !important;
		}
	}
}

// 步骤1：提交审核表
.assess_one {
	padding: 24px;
	.form_container {
		.button_div {
			text-align: center;
		}
	}
}

// 步骤2：在线考核评分
.assess_two {
	width: 900px;
	margin: 30px auto 0;
	.info {
		margin: 0px 15px;
		font-size: 16px;
		span {
			color: #006EC6;
		}
	}
	.table_div {
		margin-bottom: 60px;
		table > thead > tr > th {
			background: #006EC6;
			color: #fff;
			text-align: center;
		}
		table > tbody > tr{
			text-align: center;
			&:nth-child(2n) {
				background: #F9F9F9;
			}
		}
	}
}

// 步骤3：考核结果统计
.assess_three {
	// font-style: Heiti-SC;
	background-color: #fff;
	padding: 10px 80px;
	font-size: 14px;
}
.break_page {
	page-break-after:always;
}
.print_table {
	@media print { 
		.print_btn_two, .print_btn_one {
			display: none;
		} 
	}
	@media print {
		.nextpage {
			page-break-after:always;
		}
	}
	.table_title {
		text-align: center;
		color: #006EC6;
	}
	.table_cell_one {
		padding-top: 10px;
		label {
			font-size: 15px;
			padding-right: 50px;
		}
		.print_btn_one {
			padding: 4px 40px;
			float: right;
		}
	}
	.table_content {
		position: relative;
		text-align: center;
		padding-bottom: 20px;
		.self_print_table {
			td {
				padding: 3px 5px;
			}
		}
		table {
			// table-layout:fixed;
			margin: 0 0 10px 0;
			width: 100%;
			border-collapse:collapse;
			td {
				word-break:break-all;
				word-wrap:break-word;
				border-color: #333;
				padding: 4px 0;
			}
			.persent_t {
				width: 220px;
			}
			.persent_span {
				padding-right: 25px;
			}
			.table_tr_one {
				background-color: rgba(247, 247, 247, 0.37)
			}
			.table_td_one {
				background-color: #fff;
				width: 20px;
				padding: 0 15px;
				font-size: 15px;
			}
			.table_td_two {
				width: 160px;
				font-size: 15px;
			}
			.table_td_three {
				width: 160px;
				padding: 0 15px;
				font-size: 15px;
			}
			.tr_one {
				td {
					width: 173px;
				}
			}
			.row_height {
				.count_people {
					font-size: 20px;
					padding: 0 8px;
				}
				.set_by_admin {
					font-size: 24px;
				}
				td {
					height: 160px;
					position: relative;
					.sign_name {
						position: absolute;
						left: 30px;
						top: 20px;
					}
					.sign_time {
						position: absolute;
						right: 30px;
						bottom: 20px;
						text {
							padding-right: 80px;
						}
						label {
							padding-left: 40px;
							font-size: 14px;
						}
						span {
							padding-left: 20px;
						}
					}
				}
			}
		}
		table, td {
			color: #4A4A4A !important;
			padding: 8px 0;
			border: 1px solid #E6E6E6;
			.sub_text {
				font-size: 10px;
			}
		}
		.sign_name_school {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}	
}


