.normal {
  display: flex;
  display: -webkit-flex; /* Safari */
  min-height: 100vh;
  flex-direction: column;
}

.head {
  flex: 1;
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: center;
  align-items: center;
  background: #006EC6;
  text-align: center;
  min-height: 6vh;
  max-height: 6vh;
  padding: 6px;
  color: #fff;
  h1 {
    letter-spacing: 4px;
    color: #fff;
  }
}

.toolbar {
  position: absolute;
  right: 20px;
  top: 0.2vh;
  line-height: 6vh;
  margin-right: 20px;
  a {
    color: #fff;
  }
}

.foot {
  flex: 1;
  min-height: 6vh;
  max-height: 6vh;
  line-height: 6vh;
  font-size: 13px;
  text-align: center;
  color: #B8B8B8;
  background: #3F3F3F;
}
