:global {
  @import './normalize.css';
  
  html, body, #root {
    height: 100%;
    background-color: #f8f8f8;
  }

  body {
    position: relative;
    * {
      font-weight: normal;
    }
  }

  // 全局通用类
  .text-left {
  	text-align: left;
  }
  .text-right {
  	text-align: right;
  }
  .text-center {
  	text-align: center;
  }
  .text-justify {
  	text-align: justify;
  }
  .pull-right {
    float: right;
  }
  .pull-left {
    float: left;
  }

  // 满屏
  .full_height {
    height: 100%;
  }
}


