:global {
  @import './normalize.css';
  
  html, body, #root {
    height: 100%;
    background-color: #f8f8f8;
    color: #4A4A4A;
  }

  body {
    position: relative;
    * {
      font-weight: normal;
    }
  }

  // 全局通用类
  .text-left {
  	text-align: left;
  }
  .text-right {
  	text-align: right;
  }
  .text-center {
  	text-align: center;
  }
  .text-justify {
  	text-align: justify;
  }
  .pull-right {
    float: right;
  }
  .pull-left {
    float: left;
  }

  // flex
  .box {
    display: -webkit-flex;
    display: flex;
    // 水平
    .item0 {
      flex-flow: row nowrap;
      flex-grow: 0;
    }
    .item1 {
      flex-flow: row nowrap;
      flex-grow: 1;
    }
    .item2 {
      flex-flow: row nowrap;
      flex-grow: 2;
    }
    .item3 {
      flex-flow: row nowrap;
      flex-grow: 3;
    }
    // 垂直
    .item0 {
      flex-flow: column nowrap;
      flex-grow: 0;
    }
    .item1 {
      flex-flow: column nowrap;
      flex-grow: 1;
    }
    .item2 {
      flex-flow: column nowrap;
      flex-grow: 2;
    }
    .item3 {
      flex-flow: column nowrap;
      flex-grow: 3;
    }
  }

  // 满屏
  .full_height {
    height: 100%;
  }

  // modal
  .global_modal {
    .ant-modal-header {
      background: #1070C3;
      color: #fff;
      text-align: center;
      .ant-modal-title {
        font-size: 16px;        
      }
    }
    h3 {
      padding: 50px;
      font-size: 16px;
      line-height: 1.8;
    }
  }
}


