.container {
	height: 100%;
	.header {
		height: 65px;
		line-height: 65px;
		text-align: center;
		color: #fff;
		font-size: 24px;
	}
	.toolbar {
		height: 40px;
		overflow: hidden;
		color: #4A4A4A;
		font-size: #4A4A4A;
		background-color: #fff;
		border-bottom: 1px solid #ddd;
		span {
			float: right;
			line-height: 40px;
			margin-right: 20px;
			i {
				font-size: 16px;
			}
		}
		a {
			color: #1070C3;
		}
	}
	.footer {
		color: #fff;
		font-size: 13px;
		background: #3C3C3C;
		overflow: hidden;
		p {
			width: 33.33%;
			float: left;
			line-height: 40px;
			height: 40px;
			margin: 0;
			text-align: center;
		}
	}
}