.container {
	padding: 15px;
	input {
		height: 36px;
	}
	.title {
		text-align: center;
		margin: 80px 0;
	}
	.login_btn {
		width: 100%;
		padding: 8px 8px;
		border-radius: 4px;
		font-size: 14px;
	}
}